<?xml version="1.0"?>
<launch>
    <arg name="camera_id_1" default="alexa_1"/>
    <arg name="camera_id_2" default="alexa_2"/>
    <arg name="camera_id_3" default="alexa_3"/>
    <arg name="ground_id" default="ground"/>
    <arg name="topic_adapter_1" default="/realm/$(arg camera_id_1)/input"/>
    <arg name="topic_adapter_2" default="/realm/$(arg camera_id_2)/input"/>
    <arg name="topic_adapter_3" default="/realm/$(arg camera_id_3)/input"/>

    <arg name="topic_pose_est" default="/realm/$(arg ground_id)/pose_estimation/frame"/>
    <arg name="topic_dense" default="/realm/$(arg ground_id)/densification/frame"/>
    <arg name="topic_surf" default="/realm/$(arg ground_id)/surface_generation/frame"/>
    <arg name="topic_rect" default="/realm/$(arg ground_id)/ortho_rectification/frame"/>
    <arg name="topic_mosaic" default="/realm/$(arg ground_id)/mosaicing/frame"/>

    <node pkg="realm_ros" type="realm_exiv2_grabber" name="realm_exiv2_grabber_1" output="screen">
        <param name="config/id" type="string" value="$(arg camera_id_1)"/>
        <param name="config/input" type="string" value="/media/lachs/2aba9048-bfb9-4c30-9a82-d9b005f6ac2c/Entwicklung/Bilddaten/Alexa/Coop_1"/>
        <param name="config/rate" type="double" value="3.0"/>
        <param name="config/profile" type="string" value="alexa_2"/>
    </node>

    <node pkg="realm_ros" type="realm_stage_node" name="realm_pose_estimation_1" output="screen">
        <param name="stage/type" type="string" value="pose_estimation"/>
        <param name="topics/input" type="string" value="$(arg topic_adapter_1)"/>
        <param name="topics/output" type="string" value="$(arg topic_pose_est)"/>
        <param name="config/id" type="string" value="$(arg camera_id_1)"/>
        <param name="config/profile" type="string" value="alexa_2"/>
        <param name="config/method" type="string" value="orb_slam2"/>
    </node>

    <node pkg="realm_ros" type="realm_exiv2_grabber" name="realm_exiv2_grabber_2" output="screen">
        <param name="config/id" type="string" value="$(arg camera_id_2)"/>
        <param name="config/input" type="string" value="/media/lachs/2aba9048-bfb9-4c30-9a82-d9b005f6ac2c/Entwicklung/Bilddaten/Alexa/Coop_2"/>
        <param name="config/rate" type="double" value="3.0"/>
        <param name="config/profile" type="string" value="alexa_2"/>
    </node>

    <node pkg="realm_ros" type="realm_stage_node" name="realm_pose_estimation_2" output="screen">
        <param name="stage/type" type="string" value="pose_estimation"/>
        <param name="topics/input" type="string" value="$(arg topic_adapter_2)"/>
        <param name="topics/output" type="string" value="$(arg topic_pose_est)"/>
        <param name="config/id" type="string" value="$(arg camera_id_2)"/>
        <param name="config/profile" type="string" value="alexa_2"/>
        <param name="config/method" type="string" value="orb_slam2"/>
    </node>

    <node pkg="realm_ros" type="realm_exiv2_grabber" name="realm_exiv2_grabber_3" output="screen">
        <param name="config/id" type="string" value="$(arg camera_id_3)"/>
        <param name="config/input" type="string" value="/media/lachs/2aba9048-bfb9-4c30-9a82-d9b005f6ac2c/Entwicklung/Bilddaten/Alexa/Coop_3"/>
        <param name="config/rate" type="double" value="3.0"/>
        <param name="config/profile" type="string" value="alexa_2"/>
    </node>

    <node pkg="realm_ros" type="realm_stage_node" name="realm_pose_estimation_3" output="screen">
        <param name="stage/type" type="string" value="pose_estimation"/>
        <param name="topics/input" type="string" value="$(arg topic_adapter_3)"/>
        <param name="topics/output" type="string" value="$(arg topic_pose_est)"/>
        <param name="config/id" type="string" value="$(arg camera_id_3)"/>
        <param name="config/profile" type="string" value="alexa_2"/>
        <param name="config/method" type="string" value="orb_slam2"/>
    </node>

    <node pkg="realm_ros" type="realm_stage_node" name="realm_densification" output="screen">
        <param name="stage/type" type="string" value="densification"/>
        <param name="topics/input" type="string" value="$(arg topic_pose_est)"/>
        <param name="topics/output" type="string" value="$(arg topic_dense)"/>
        <param name="config/id" type="string" value="$(arg ground_id)"/>
        <param name="config/profile" type="string" value="alexa_2"/>
        <param name="config/method" type="string" value="dummy"/>
    </node>

    <node pkg="realm_ros" type="realm_stage_node" name="realm_surface_generation" output="screen">
        <param name="stage/type" type="string" value="surface_generation"/>
        <param name="topics/input" type="string" value="$(arg topic_dense)"/>
        <param name="topics/output" type="string" value="$(arg topic_surf)"/>
        <param name="config/id" type="string" value="$(arg ground_id)"/>
        <param name="config/profile" type="string" value="alexa_2"/>
    </node>

    <node pkg="realm_ros" type="realm_stage_node" name="realm_ortho_rectification" output="screen">
        <param name="stage/type" type="string" value="ortho_rectification"/>
        <param name="topics/input" type="string" value="$(arg topic_surf)"/>
        <param name="topics/output" type="string" value="$(arg topic_rect)"/>
        <param name="config/id" type="string" value="$(arg ground_id)"/>
        <param name="config/profile" type="string" value="alexa_2"/>
    </node>

    <node pkg="realm_ros" type="realm_stage_node" name="realm_mosaicing" output="screen">
        <param name="stage/type" type="string" value="mosaicing"/>
        <param name="stage/master" type="bool" value="true"/>
        <param name="topics/input" type="string" value="$(arg topic_rect)"/>
        <param name="config/id" type="string" value="$(arg ground_id)"/>
        <param name="config/profile" type="string" value="alexa_2"/>
    </node>

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find realm_ros)/rviz/realm_coop.rviz" />



</launch>
